
{% load comments %}

{% load mptt_tags %}



{% get_comment_list for object as comments %}



{% if comments %}

{% recursetree comments %}

            <a name="c{{ node.id }}"></a>

            {{ node.comment }}

            {{ node.user }}

            {{ node.submit_date|timesince }} ago

            <a href="{{ object.get_absolute_url }}#c{{ node.id }}">#</a>

        {% render_comment_form for object %}



    {# recursion! children of a given comment #}

    {% if not node.is_leaf_node %}

        {{ children }}

    {% endif %}

{% endrecursetree %}

{% endif %}



{% render_comment_form for object %}
