
{% extends 'base.html' %}
{% load static comments i18n %}
{% block title %} Articles {% endblock %}
{% block styles %}


{% endblock %}
{% block content %}	<!--start-main-->
<div class="header">

{% include 'navbar-tabs.html' %}
<!--head-bottom-->
</div>	


<!-- technology -->
<div class="technology">
	<div class="container">
		<div class="col-md-9 col-md-offset-1 technology-left">
		<div class="tech-no">
			<!-- technology-top -->
			{% for notes in notebook_list %}
			{#  #}
			 <div class="tc-ch">
					{% if notes.banner %}
					<div class="tch-img">
					
						<a href="singlepage.html"><img src="{{ MEDIA_URL }}{{ notes.banner.url }}" class="img-responsive" alt=""/></a>
					

					</div>
					{% if notes.tags.all.0 %}
					<a class="blog blue" href="/tag/{{tags}}">{{ notes.tags.all.0 }}</a>
					{% endif %}
					{% endif %}
					<h3><a href="{{notes.get_absolute_url}}">{{notes.title}}</a></h3>
					<br>
						<p>{{notes.text|truncatewords_html:60|safe}}</p>
				
						<div class="blog-poast-info">
							<ul>
								<li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="{{notes.submitter.user.get_absolute_url}}"> {{ notes.submitter }} </a></li>
								<li><i class="glyphicon glyphicon-calendar"> </i>{{ notes.created_on }}</li>
								{% get_comment_count for notes.notebook notes.id as comment_count %}							
								<li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="{{notes.get_absolute_url}}">{% if comment_count == 0 %} {% trans "no comments" %} {% elif comment_count == 1 %}{{comment_count}} {% trans " Comment" %} {% else %} {{comment_count}} Comments {% endif %}</a></li>
								{# <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li> #}
								{% if notes.submitter == request.user %}
									<li><i class="glyphicon glyphicon-edit"> </i><a class="p-blog" href="{% url 'notes:update-view' slug=notes.slug %}">Update Article </a></li>
									<li><i class="glyphicon glyphicon-trash"> </i><a class="admin" href="{% url 'notes:delete-view' slug=notes.slug %}">Delete Article </a></li>
								{% endif %}
							</ul>
						</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
			
			</div>
		</div>
		
	</div>
</div>
{% endblock %}