{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.technology-left {
	width: 70%;
	border: 2px solid #a1a1a1;
	border-radius: 10px !important;
	box-shadow: 10px 10px 5px #888888;
}
.comment-bottom input[type="text"], .comment-bottom textarea {
	background: none;
	width: 100%;
	outline: none;
	border: 1px solid #1a1717;
	padding: 1em 0.8em;
	font-size: 1em;
	color: #1b1919;
	margin: 0 0 0.7em;
	float: left;
}
</style>
<div class="header">
{% include 'navbar-tabs.html' %}
	</div>


<!-- technology -->
<div class="technology-1">
	<div class="container">
		<div class="col-md-9 technology-left">
			<div class="business">
				<div class=" blog-grid2">
					<img src="{% static 'img/1.jpg' %}" class="img-responsive" alt="">
					<div class="blog-text">
						<h5 style="text-align:center;">{{notepage.title}}</h5>
						<p style="font-size:1em;">{{notepage.text|safe}}</p>				
					</div>
				</div>
				<div class="comment-top">
					
					{% if user.is_authenticated %}                  
                    
					{% get_comment_form for notepage as form %}
						<h3>Leave a Comment</h3>
						<div style="color:black;" class=" comment-bottom">
							<form role="form"action="{% comment_form_target %}" method="POST">{%csrf_token %}
		                        {{form.comment| as_crispy_field}}
		                   
		                        {{form.object_pk| as_crispy_field}}
		                        {{ form.content_type | as_crispy_field}}
		                        {{form.timestamp| as_crispy_field}}
		                        {{form.security_hash| as_crispy_field}}
		                        <input type="hidden" name="name" value="{{user}}"/>
		                        <input type="hidden" name="email" value="{{user.email| default:'d@mmy.com'}}"/>
		                        <input type="hidden" name="honeypot" value=""/>
		                        <input type="hidden" name="url" value=""/>
		                        <input type="hidden" name="next" value="{% url 'notes:single-notes' slug=notepage.slug %}"/>
		                        <input type="submit" id="id_submit" value="Save"/>
							</form>
						</div>
						{% endif %}
					</div>
					

					<div class="comment">
						<h2>Comment</h2>
						{% get_comment_list for notepage as comment_list %}

							{% for comment in comment_list %}
						
								<div class="media-body">
									  <h4 class="media-heading">{{ comment.name }}</h4>
									  <small> {{ comment.date }} </small>
									  <p style="color:black;">{{ comment.comment }}</p>

								  <!-- Nested media object -->
								</div>
							{% endfor %}
				</div>
				

			</div>
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right-1">
				
				<div class="blo-top1">
					<div class="tech-btm">
					{% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
					<h4 style="text-align:center;">Login </h4>
					<hr>
						<div class="blog-grids">
							<!-- <div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'img/6.jpg' %}" class="img-responsive" id="image-settings" alt=""/></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">Name: {{notepage.submitter}}
								</a></h5> -->
							<form class="blog-grid-login" method="POST" action="{% url 'auth_login' %}?next={{request.path}}"> {% csrf_token %}
								<div class="form-group">
									<input type='text' class='form-control' name='username' placeholder='your username'/>
								</div>
								<div class='form-group'>
          							<input type='password' class='form-control' name='password' placeholder='Password'/>
          						</div>
          						<button type="submit" class='btn btn-default'>Login</button>
							</form>

							</div>
							<div class="clearfix"> </div>
							{% endif %}
					{% if request.user.is_authenticated %}
					<h4 style="text-align:center;">About the Author </h4>
					<hr>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{{ MEDIA_URL }}{{ notepage.submitter.userprofile.picture.url }}" class="img-responsive" id="image-settings" alt=""/></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">Name: {{notepage.submitter}}

								</a></h5>
								<h5> Name: {{notepage.submitter.userprofile.first_name}} {{notepage.submitter.userprofile.last_name}}</h5>
								<h5> JobTitle: {{notepage.submitter.userprofile.job_title}}</h5>
							</div>
							<div class="clearfix"> </div>
					{% endif %}
					
						</div>
						
					</div>
				</div>
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>
<!-- technology -->


{% endblock %}