/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	
	background: #f5f5f5;
}
* {

  border-radius: 3px !important;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url(../fonts/Raleway-Regular.ttf)format('truetype');
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
    font-family: 'normal';
}	
p{
	margin:0;
	font-family: 'normal';
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}

.img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
}


/*--navigation--*/

/*--technology-left--*/
.technology-1 p {
    color: black;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0;
}
.blog-poast-info {
	border-top: 1px solid #aeaeae;
    padding: 1em 0;
    text-align: left;
}
.blog-poast-info ul li {
	display:inline-table;
	margin-right: 1em;
}
.blog-poast-info ul li{
	color: #000;
	font-size:0.8125em;
	vertical-align:middle;
}
.blog-poast-info li i {
    font-size:1.5em;
    color: #aeaeae;
    margin-right: 0.3em;
    margin-top: 0px;
	vertical-align:middle;
}
i.glyphicon.glyphicon-comment {
    vertical-align: middle;
}
.blog-poast-info ul li a {
	    color:#000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	vertical-align:middle;
}
.blog-poast-info ul li a:hover{
	text-decoration:none;
}
.blog-poast-info ul li a:hover {
	color:#fa4b2a;
}
.blog-section {
  padding: 4em 0;
  position: relative;
}
.tc-ch h3 a {
    color: #fa4b2a;
    font-weight: 500;
	font-family: 'normal !important';
}
.tc-ch p {
    color: #777;
    font-size: 0.875em;
    line-height: 1.8em;
    margin: 1em 0;
}
.tc-ch h3 {
    margin: 0.5em 0 0;
	font-size:1.7em;
}
.tc-ch {
    background: #fff;
    padding: 2em;
    margin-bottom: 0.25em;
    position: relative;
}
a.blog{
    position: absolute;
    top: 4em;
    background: #386ecf;
    padding: 0.3em 1.8em;
    color: #fff;
}
a.blog.pink{
    background: #d43d7d;
}
a.blog.gren{
    background: #42d948;
}
a.blog.orn{
    background: #c75830;
}
.tech-no {
    position: absolute;
    top:0;
    width: 101%;
   
}
.technology {
    min-height: 203em;
    padding:30px;
}
.tc-ch {
    float: left;
    width: 92%;
}
.
/*--technology-left--*/
/*--technology-right--*/
.blo-top form input[type="text"] {
  width: 100%;
  color: #333333 ! important;
  outline: none;
  font-size: 16px;
  padding: .5em;
  border: 2px solid #333333;
  -webkit-appearance: none;
}
.blo-top form input[type="submit"] {
  background:#f53f1a; 
  padding: .3em 1em;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: block;
  outline: none;
  border: none;
  width: 100%;
}
.blo-top form input[type="submit"]:hover{
	background:#333333;
}
.button {
  margin: 1em 0 0;
  float: left;
}
.blog-grid-left {
    float: left;
    width: 36%;
}
.blog-grid-right {
    float: left;
    width: 60%;
    margin-left: 0.5em;
}

.blog-grid-right h5 a {
    color: #4A4747;
}
.blo-top {
    border-bottom: 1px solid #aeaeae;
}


.technology-right-1 {
    width: 30%;
}
.technology-left{
	width:70%
}
.blog-grids {
    border-bottom: 1px dotted #aeaeae;
    padding: 1.3em 0;
}
/*--technology-right--*/
/*--footer--*/

/*delete later */

.technology-1 {
    margin: 2em 0;
}


#image-settings {
    display: block;
    width: 100%;
    height: 125px;
    margin: 0 auto;
}

.technology-1 h3 {
    margin: 0.5em 0 0;
    font-size: 1.7em;
}
.technology-1 h3 a {
    color: #fa4b2a;
    font-weight: 700;
    font-family: 'normal';
}
.technology-1 p {
    color: black;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0;
}
/*--business--*/
.business {
    padding: 2em 2em 1.8em;
    background: #fff;
}
.business li {
    display: block;
}
.business li a {
    color: #333333;
    font-size: 1em;
    line-height: 2em;
}
.business h3 {
    color: #f53f1a;
    font-size: 1.7em;
    font-weight: 700;
    margin: 0 0 0.5em;
}
.business h2 {
    color: #f53f1a;
    font-size: 1.7em;
    font-weight: 700;
    margin: 0.5em 0;
} 
.business h2  a{
    color: #f53f1a;
}
.business h4{
    color: #f53f1a;
    font-size: 1.7em;
    font-weight: 700;
    margin: 0.5em 0;
	text-align: center;
}
.business-bottom {
    margin-top: 3em;
}
.business-top {
    padding-bottom: 3em;
    border-bottom: 1px solid #aeaeae;
}
/*--business--*/
.
/*--contact--*/

/*--single--*/
h4.media-heading {
	font-size: 1.5em;
  color: #333333;
 text-align:left;
 margin:0;
 font-weight:400;
}
.media-body p {
	color: #9E9E9E;
  	font-size: 0.875em;
  	line-height: 1.8em;
}
.comment-bottom input[type="text"],.comment-bottom textarea {
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #1a1717;
  padding:1em 0.8em;
  font-size: 1em;
  color: #1b1919;
  margin:0 0 0.7em ;
  float:left;  
}

.comment-bottom textarea{
 	resize:none;
  	margin: 0em 0 0.5em;
      min-height: 180px;
      -webkit-appearance: none;
}
.comment-bottom input[type="submit"] {
  width: 11%;
  font-size: 1.1em;
  background: #fa4b2a;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  margin: 0 auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor:pointer;
}
.comment-bottom input[type="submit"]:hover {
	background:#333333;
}
.comment h3, .comment-top h2 {
    color: #f53f1a;
    font-size: 2.5em;
    text-align: left;
    padding: 0 0 0.5em;
	font-weight:400;
}
.comment {
  padding: 3em 0 0;
}
.blog-text h5 {
    font-size: 1.7em;
    margin: 0.6em 0;
	color:#FB6648;
	font-weight:700;
}
/*--//single--*/


/*-- responsive-design --*/
@media (max-width: 1024px){


.blog-grid-right {
    width: 59%;
}

.technology {
    min-height: 200em;
}
.comment-bottom input[type="submit"] {
    width: 16%;
    font-size: 1em;
	padding: 0.4em 1em;
}

.technology-left {
    width: 70%;
	float:left;
}

.tc-ch {
    float: left;
    width: 91%;
	padding:1em;
}

.tc-ch p {
    font-size: 0.8125em;
    line-height: 1.5em;
}
.blog-poast-info li i {
    font-size: 1.1em;
	margin-top:-3px;
}
.blog-poast-info ul li {
    margin-right: 0.3em;
}
.blog-grid-right {
    width: 58%;
}

.technology {
    min-height: 164em;
}

.technology-1 p {
    font-size: 0.9em;
}
.technology-1 h3 {
    font-size: 1.5em;
}

.technology-right-1 {
    width: 30%;
    float: right;
}
.business {
    padding: 1em 1em 1em;
}
.comment h3, .comment-top h2 {
    font-size: 2em;
}
h4.media-heading {
    font-size: 1.3em;
}

/*-- responsive-design --*/
@media (max-width: 768px){


.business-left {
    margin-top: 2em;
}
}
/*-- responsive-design --*/
@media (max-width: 736px){

.technology-left {
    width: 100%;
}


.blog-grid-left {
    float: left;
    width: 18%;
}
.tc-ch {
    float: left;
    width: 91.5%;
    padding: 2em;
}

.technology-right-1 {
    width: 100%;
    float: right;
    margin-top: 1em;
}
}
/*-- responsive-design --*/
@media (max-width: 667px){
.foot-nav li a {
    padding: 0.5em 0.4em;
}
}
/*-- responsive-design --*/
@media (max-width: 600px){
.foot-nav li a {
    padding: 0.5em 0.2em;
}
}
/*-- responsive-design --*/
@media (max-width: 568px){
.logo {
    float: left;
    width: 40%;
    text-align: center;
}
.social {
    width: 100%;
    float: right;
    text-align: right;
    margin-top: 1em;
    padding: 0;
}
.logo a h1 {
	margin-top:0;
    padding: 0.35em 0.5em;
}
.search {
    width: 40%;
}

.blog-text h5 {
    font-size: 1.4em;
}
.business li a {
    font-size: 0.875em;
}

}
/*-- responsive-design --*/
@media (max-width: 414px){
.tc-ch {
    float: left;
    width: 87.5%;
    padding: 1em;
}



.comment-bottom input[type="submit"] {
    width: 25%;
}
.business h2 {
    font-size: 1.4em;
}

}
/*-- responsive-design --*/

/*-- responsive-design --*/
@media (max-width: 320px){


.technology-left {
    padding: 0;
}
.tc-ch {
    width: 84.6%;
}
.tech-no {
    top: -23px;
}

.tc-ch h3 {
    font-size: 1.2em;
}

.blog-grid-left {
    width: 30%;
}
.blog-grid-right {
    width: 65%;
}

.technology-right-1 {
    padding: 0;
}
.blog-text h5 {
    font-size: 1.2em;
}
.business-left {
    margin-top: 1em;
    padding: 0;
}
}

