{% extends "postman/base.html" %}
{% load i18n %}{% load postman_tags crispy_forms_tags %}
{% block styles %}
<style type="text/css">

.panel-default > .panel-heading {
	color: #fff;
	background-color: #20457C;
	border-color: #ddd;
}
.pm_header {
	/*background-color: #ECDFBD;*/
	border-top: solid thin #ddd;
}
#btn-pull-right {
	margin-left: 90%;
	margin-top: -5px;
}
.pm_sender{
	margin-left: 10px;
}
.pm_request_user_img{
	margin-right: 10px;
} 

#conversation-controls-placement{
	width: 50%;
    margin: 2px auto !important; 
    
}
#chat-dropdown-chev{
	margin-top: -17px;
}
.chat-controls{
	cursor:pointer;
}

</style>
{% endblock %}
{% block content %}
{% include 'navbar-tabs.html' %}
<br>
<br>
<div class="container">
	<div class="col-md-8 col-xs-8 col-md-offset-0 col-xs-offset-0">
	
		<div id="postman">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<span>
						<h4><i class="fa fa-comment"> {% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}</i></h4>
					</span>
					<div id="chat-dropdown-chev"class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a class="chat-controls" onclick="chatReload()"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                         
                        </ul>
	                </div>
	                    </div>
				{% for message in pm_messages %}
					{% if forloop.first %}
					<div id="conversation-controls">
						
							<form id="conversation-controls-placement" class=""action="" method="post">{% csrf_token %}
								<input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
								<a href="{{ next_url }}">{% trans "<< Back" %}</a>
								<span id="pm_buttons">
									<button class="btn btn-sm btn-danger" type="submit" onclick="this.form.action='{% url 'postman:delete' %}?next={{ next_url|urlencode }}'">
										<i class="fa fa-trash">
											{% trans "Delete" %}
										</i>
									</button>
									{% if not archived %}
										<button class="btn btn-sm btn-primary" type="submit" onclick="this.form.action='{% url 'postman:archive' %}?next={{ next_url|urlencode }}'">
											<i class="fa fa-archive">
											{% trans "Archive" %}
											</i>
										</button>
									{% endif %}
								</span>
								
							</form>
						
					</div>
					{% endif %}
			
					<div class="pm_message{% if message.is_pending %} pm_pending{% endif %}{% if message.is_rejected %} pm_rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %}">
						<div class="panel-body">

							<div class="pm_header clearfix">
									

								{% if message.sender == request.user %}
								<div class="row">
									<div id="border-msg-column" class="col-md-8 col-xs-8">
										<span class="pm_request_user_img pull-left">
											{% if message.sender.userprofile.picture %}
			                            		<img class="img-thumbnail" src="{{ MEDIA_URL}}{{ message.sender.userprofile.picture.url}}" alt="User Avatar" max-height="60" width="60" />
			                            	{% else %}
		                		                <img class="img-thumbnail" src="http://placehold.it/50X50" alt="User Avatar"  />
		                		            {% endif %}
		                		        </span>
		                		            <span class="pm_request_user_sender"><strong>sender{{ message.obfuscated_sender|or_me:user }}</strong></span>
		                		            | <span class="pm_subject">Subject:{{ message.subject }}</span>
		                		        
		                		    </div>
		                		    <div class="col-md-4 col-xs-4">
		                		        <div class="pm_request_user">
											
											
											<span class="pm_date pull-right"><i class="fa fa-clock-o"></i> {{ message.sent_at|date:"DATETIME_FORMAT"}}</span> |
											

										</div>
									</div>
								</div>
								{% else %}
														<!-- not request user -->
									<div class="row">

										<div class="pm_obfuscated_sender">
											<div id="border-msg-column" class="col-md-8 col-xs-8">
												<span class="pm_date"><i class="fa fa-clock-o"></i> {{ message.sent_at|date:"DATETIME_FORMAT"}}</span> |
												<span class="pm_subject">Subject: {{ message.subject }}</span>
											</div>
											
											<div class="col-md-4 col-xs-4">
												

												<span class="chat-img">
													{% if message.sender.userprofile.picture %}
					                            		<img class="img-thumbnail" src="{{ MEDIA_URL}}{{ message.sender.userprofile.picture.url }}" alt="User Avatar" max-height="60" width="60"  />
					                            	{% else %}
				                		                <img class="img-thumbnail" src="http://placehold.it/50X50" alt="User Avatar"  />
				                		           {% endif %}
					                        	</span>
					                        	<span class="pm_sender"><strong>Sender: {{ message.obfuscated_sender|or_me:user }}</strong></span> 
					                        </div>
										</div>	
										
									</div>
									

								{% endif %}
								

								{% if message.is_rejected %} 
									<div class="pm_status">{% trans "Rejected" %}{% if message.moderation_reason %}
										{% trans ":" %} {{ message.moderation_reason }}
										{% endif %}
									</div>
									{% endif %}
									
								
							</div>
							{% if message.sender == request.user %}
							<div class="col-md-8 col-xs-8 col-md-offset-1 col-xs-offset-1">
										<div class="pm_body">{{ message.body|linebreaksbr }}</div>
							</div>
							
							{% else %}
								<div class="row">
									<div class="col-md-9 col-xs-9">
										<div class="pm_body">{{ message.body|linebreaksbr }}</div>
									</div>
								</div>
							{% endif %}
							
	
					
						</div>

					{% if forloop.last %}
					<div class="panel-footer">
						
							{% if reply_to_pk %}<hr />
								<h2>{% trans 'Reply' %}</h2>
									<form class="form-group" action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
										<div id="pm_reply">{{ form |crispy}}
										<button id="btn-pull-right" class="btn btn-success"type="submit">{% trans 'Reply' %}</button></div>
									</form>

						{% endif %}
					</div>
					{% endif %}
					
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}