{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% include 'navbar-tabs.html' %}
<br>
<style>
.timer{
	float: right;
	display: block;
	padding:10px;
}
.status{
	
	display: block;
	padding-left: 55px;

}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<form class='form-group row' method="POST" action="{% url 'newsfeed:create-view' %}">{%csrf_token %}          		
			    <div class="input-group">
			      <input type="text" class="form-control"  name='newsfeed' placeholder="what's on your mind">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Save!</button>
			      </span>
			    </div><!-- /input-group -->
			  
			  <br>
          	</form>

  			
				{% for activity in user_activity %}
				<p class="row feeds">
					{% if activity.newsfeed %}
						<i class="fa fa-feed"></i>
							{% if activity.submitter.userprofile.picture %}
								<img class="img-thumbnail" src="{{ MEDIA_URL }}{{ activity.submitter.userprofile.picture.url }}" height="42" width="42">
							{% else %}
								<img class="img-thumbnail" src="http://placehold.it/200X200" height="42" width="42">
							{% endif %}

							{% if activity.submitter.get_absolute_url %}


								<a href="{{activity.submitter.get_absolute_url}}">{{ activity.submitter }}</a> {% trans "updated status:" %} 
								<span class="timer">time: {{ activity.timestamp|timesince }}
								</span>
								<div class="status">
									<q>{{activity.newsfeed}}</q>
								</div>
							{% else %}

								{{activity.actor}} {{activity.verb}} {{activity.target}}
						
							{% endif %}
					{% else %}
						<span class=" glyphicon {% if activity.verb ==  'created' %}
							 glyphicon-ok-circle
							{% elif activity.verb == 'updated' %}
							glyphicon-cog
							{% elif activity.verb == 'deleted' %}
							glyphicon-remove
							{% else %}
							glyphicon-ok
							{% endif %}"></span>
							{% if activity.actor.userprofile.picture %}
							<img class="img-thumbnail" src="{{ MEDIA_URL }}{{ activity.actor.userprofile.picture.url }}" height="42" width="42">
							{% else %}
							<img class="img-thumbnail" src="http://placehold.it/200X200" height="42" width="42">
							{% endif %}

							{% if activity.actor.get_absolute_url %}


							<a href="{{activity.action_object.get_absolute_url}}">{{ activity.actor }}</a> {{ activity.verb }} 
							<a href="{{activity.target.get_absolute_url}}">{{ activity.target }}</a>
							<span class="timer">time: {{ activity.timestamp|timesince }} {% trans "ago" %}
								</span>
							


							{% else %}

							{{activity.actor}} {{activity.verb}} {{activity.target}}
							
							{% endif %}
					{% endif %}

						</p>

					<p class="timer"> </p>
					<hr>

					<!-- <div class="row">

					{{ activity.actor}}
						
					{{activity.verb}}
					{{activity.target}}
					{{activity.timestamp|timesince}}
					
					</div> -->

				{% endfor %}


			
      	</div>
  	</div>
</div>

{% endblock %}