/*home-page*/

hr .hr-divide {
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}	
.timer{
	float: right;
	display: block;
	padding:10px;
}
.status{
	
	display: block;
	padding-left: 55px;

}
.delete-feed{
	float:right !important;

}
#status-input{
	padding-right: 15px !important;
	padding-top: 15px;
}
#characters {
	float: right;
}

.toggler{

	color: #20457C;
	padding: 5px 10px;
	float: right;

}
#toggle-feeds {
	
	border: solid thin #20457C;
}
#toggle-feeds > h5{
	text-align: center;
	margin-top: 10px;
	margin-bottom: -9px;

}
#toggle-feeds .title-line-breaker{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #5E3448;
}

.row.feeds {
	padding-left: 10px;
	padding-top: 3px;
}

.fa-toggle-on{
	color: #5E3448 !important;
}
#follower-feeds-container{
	background:#fff;
}

/*end home page*/

/*begin profile page*/
/* Profile container */
.profile {
  margin: 10px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-picture img {
  float: none;
  display:block;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-user-cred {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-user-jobtitle {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
 
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-activity {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/* user feeds*/
#row-feeds {
	position: relative;
	padding: 0 0 1em 45px;
	overflow: hidden;
	border-top: 1px solid #f1f1f1;
}
.glyphicon.glyphicon-ok-circle:hover {
	color: #ffd700;
	box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
	cursor: pointer;
}
.follower_count{
	float: right;
}
/* end profilepage */

/*begin navbar-main*/
.nav-tabs > li{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.nav{
  margin-top: 0px !important;
}

.nav-tabs{
    text-align:center;
}
.navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
  }
.navbar {
    min-height:39px !important
}
#navbar-nav > li > a, #navbar-brand {
  padding-bottom: 0 !important;
  height: 40px;
  color: #FFF !important;
}

#navbar-id-default {
  background-color: #20457C;
  
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #20457C !important;
}
.nav-tabs > li > a{
  color: #20457C !important;
}
/*search form*/
.search-form {
  padding-top: 3px;
  /*border-radius: 10px; */
}
/* end navbar-main*/

/*begin navbar-tabs*/
/*
	.nav {
        margin-top: -5px;
      }
      .nav-tabs .inactive a {
        background: #363644;
        color: white;
        display: inline-block;
        float: left;
        margin-bottom: -17px;
      }
      .nav-tabs .inactive a{
        background: #363644;
        color:white;
      }
      .nav-tabs .inactive :hover{
        background: #363644;
      }
      .header-top {
        padding: 2em 0;
        margin-top: -2.5em;
      }
      #navbar-middle{
        margin-top:40px;
        border-color: #20457C;
        min-height:39px !important;
        background-color: white;
      }
      
      #navbar-middle-tabs > li > a{
        padding-top: 8px !important;
        padding-bottom: 0 !important;
        height: 34px;
        color: #3B3A35 !important;

      }
      #navbar-middle > .navbar-toggle .icon-bar {
        background-color: black !important;
      }
      [data-target="#navbar-second"] {
        float:left;
      }
      
      #navbar-middle >.navbar-toggle {
      border: none;
      background: transparent !important;
      }
      #navbar-middle.navbar-toggle:hover {
      background: transparent !important;

      }

      .icon-bar {
      width: 22px;
      transition: all 0.2s;
      }
      .first {
      transform: rotate(45deg) !important;
      transform-origin: 10% 10% !important;
      }
      .second {
      opacity: 0!important;
      }
      .third {
      transform: rotate(-45deg)!important;
      transform-origin: 10% 90%!important;
      }

      #navbar-middle > .navbar-toggle.collapsed .first {
        transform: rotate(0) !important;
      }
      #navbar-middle > .navbar-toggle.collapsed .second{
        opacity: 1 !important;
      }
      #navbar-middle > .navbar-toggle.collapsed .third {
        transform: rotate(0) !important;
      }
      #nav-tabs-feeds{
        border-bottom: 2px solid #20457c;
        border-radius: 0px !important;
      }
      #nav-tabs-contact{
        border-bottom: 2px solid #FB6648;
        border-radius: 0px !important;
      }
      #nav-tabs-contact:hover, #nav-tabs-feeds:hover{
        border-bottom: 2px solid #00C851;
        border-radius: 0px !important;
      }

      #navbar-middle .navbar-nav > .active.envelope > a{
  
        background-color: #fff;
      }
      .fa-envelope-o:hover{
        color: black;

      }
      .pad-dropdown {
        padding-top: 5px;
      }*/
      /*end navbar-tabs*/

      /* search results */
      	.results{
		padding-left: 10px;
		background-color: #fff;
		}
		.search{
			padding:0;
		}
		/*.results-title a {
			color: #5E3448 !important;
		}*/
		#search-thumbnail{
			padding:0;
		}

		/*end search results*/