      
{% load base_extras %}

      <style>
      .nav {
        margin-top: -5px;
      }
      .nav-tabs .inactive a {
        background: #363644;
        color: white;
        display: inline-block;
        float: left;
        margin-bottom: -17px;
      }
      .nav-tabs .inactive a{
        background: #363644;
        color:white;
      }
      .nav-tabs .inactive :hover{
        background: #363644;
      }
      .header-top {
        padding: 2em 0;
        margin-top: -2.5em;
      }
      #navbar-middle{
        margin-top:40px;
        border-color: #20457C;
        min-height:39px !important;
        background-color: white;
      }
      
      #navbar-middle-tabs > li > a{
        padding-top: 8px !important;
        padding-bottom: 0 !important;
        height: 34px;
        color: #3B3A35 !important;

      }

      </style>
      <!-- <div class="header-top"></div> -->
        <!-- Fixed navbar -->
    <nav id="navbar-middle" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="navbar-middle-tabs" class="nav navbar-nav">
            <li class="{% navactive request 'notes:home' %}"><a href="{% url 'notes:home' %}">Home</a></li>
            <li class="{% navactive request 'feeds' %}"><a href="{% url 'feeds' %}">Feeds</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            
            <li><a href="{% url 'profile' slug=request.user.username %}">welcome {{request.user.username}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <!-- <div class="nav navbar-collapse"> -->
          <!-- <div class="col-md-9 col-offset-md-3"> -->
        
        
          <!-- <ul class="nav nav-tabs">
            <li class="{% navactive request 'notes:home' %}"><a href="{% url 'notes:home' %}">Home</a></li>
            <li class="{% navactive request 'feeds' %}"><a href="{% url 'feeds' %}">Feeds</a></li>
            <li><a href="/ ">Reviews</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tech <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="tech.html">Action</a></li>
         <li><a href="tech.html">Action</a></li>
          <li><a href="tech.html">Action</a></li>
              </ul>
            </li>
          </ul>
          
      </div> -->