        
{% load base_extras i18n %}
{% load postman_tags %}
<style type="text/css">

      .nav {
        margin-top: -5px;
      }
      .nav-tabs .inactive a {
        background: #363644;
        color: white;
        display: inline-block;
        float: left;
        margin-bottom: -17px;
      }
      .nav-tabs .inactive a{
        background: #363644;
        color:white;
      }
      .nav-tabs .inactive :hover{
        background: #363644;
      }
      .header-top {
        padding: 2em 0;
        margin-top: -2.5em;
      }
      #navbar-middle{
        margin-top:40px;
        border-color: #20457C;
        min-height:39px !important;
        background-color: white;
      }
      
      #navbar-middle-tabs > li > a{
        padding-top: 8px !important;
        padding-bottom: 0 !important;
        height: 34px;
        color: #3B3A35 !important;

      }
      #navbar-middle .navbar-toggle .icon-bar {
        background-color: black !important;
      }
      [data-target="#navbar-second"] {
        float:left;
      }
      /* Remember to change the actual bootstrap.css and reminify it*/
      #navbar-middle .navbar-toggle {
      border: none;
      background: transparent !important;
      }
      #navbar-middle.navbar-toggle:hover {
      background: transparent !important;

      }

      .icon-bar {
      width: 22px;
      transition: all 0.2s;
      }
      .first {
      transform: rotate(45deg) !important;
      transform-origin: 10% 10% !important;
      }
      .second {
      opacity: 0!important;
      }
      .third {
      transform: rotate(-45deg)!important;
      transform-origin: 10% 90%!important;
      }

      #navbar-middle .navbar-toggle.collapsed .first {
        transform: rotate(0) !important;
      }
      #navbar-middle .navbar-toggle.collapsed .second{
        opacity: 1 !important;
      }
      #navbar-middle .navbar-toggle.collapsed .third {
        transform: rotate(0) !important;
      }
      #nav-tabs-feeds{
        border-bottom: 2px solid #20457c;
        border-radius: 0px !important;
      }
      #nav-tabs-contact{
        border-bottom: 2px solid #FB6648;
        border-radius: 0px !important;
      }
      #nav-tabs-contact:hover, #nav-tabs-feeds:hover{
        border-bottom: 2px solid #00C851;
        border-radius: 0px !important;
      }

      #navbar-middle .navbar-nav > .active.envelope > a{
  
        background-color: #fff;
      }
      .fa-envelope-o:hover{
        color: black;

      }
      .pad-dropdown {
        padding-top: 5px;
      }
      .badge {
        display: inline-block;
        min-width: 10px;
        padding: 0px 2px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #F21717;
        border-radius: 10px;
        margin-top: -15px;
        margin-left: -9px;
      }

</style>
      
      <!-- <div class="header-top"></div> -->
        <!-- Fixed navbar -->
    {% if request.user.is_authenticated %}
    <nav id="navbar-middle" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-second" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar first"></span>
            <span class="icon-bar second"></span>
            <span class="icon-bar third"></span>
          </button>
          
        </div>
        <div id="navbar-second" class="navbar-collapse collapse">
          <ul id="navbar-middle-tabs" class="nav navbar-nav pull-left">
            <li id="nav-tabs-feeds" class="{% navactive request 'feeds' %}"><a href="{% url 'feeds' %}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'notes:create-view' %}">Create a Note</a></li>
                <li><a href="{% url 'notes:home' %}">View all Notes</a></li>
                
              </ul>
            
            <li id="nav-tabs-contact"><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'imagestore:create-album' %}">Create a Gallery</a></li>
                <li><a href="{% url 'imagestore:upload' %}">Upload an image</a></li>
                <li><a href="{% url 'imagestore:index' %}">All albums </a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Your Pictures</li>
                <li><a href="{% url 'imagestore:user' username=request.user.username %}">View your albums</a></li>        
                
  
              </ul>

            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="{% navactive request 'postman:inbox' %} envelope">
              <a href="{% url 'postman:inbox' %}">
                <i class="fa fa-envelope-o fa-fw"></i>
                  {% postman_unread as unread_count %}

                  {% if unread_count %}
                      
                    <span class="badge badge-danger">{{ unread_count }}</span>
                  {% endif %}
              </a>
            </li>  
          <li>
           <div class="dropdown pad-dropdown">
           
            <a href="{% url 'profile' slug=request.user.username %}"><i class="fa fa-user fa-fw"></i>{% trans "Welcome" %}  {{ request.user.username }}</a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
            </a>
  {% if user.username == request.user.username %}
  <ul class="dropdown-menu">

    <li><a href="{% url 'edit_profile' slug=request.user.username %}"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
  </ul>
  {% endif %}
  
</div></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      {% endif %}

      