{% extends 'base.html' %}
{% load activity_tags %}

{% block styles %} 
<style>
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-picture img {
  float: none;
  display:block;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-user-cred {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-user-jobtitle {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
 
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-activity {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/* user feeds*/
.row .feeds {
	position: relative;
	padding: 0 0 1em 45px;
	overflow: hidden;
	border-top: 1px solid #f1f1f1;
}
.glyphicon.glyphicon-ok-circle:hover {
	color: #ffd700;
	box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
	cursor: pointer;
}
.follower_count{
	float: right;
}
</style>

{% endblock %}



{% block content %}

{% include 'navbar-tabs.html' %}


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR picture -->
				{% if user.userprofile.picture %}
				<div class="profile-picture">
					<img src="{{ MEDIA_URL }}{{ user.userprofile.picture.url }}" class="img-thumbnail" alt="">
				</div>
				{% else %}
				<div class="profile-picture">
					<img src="http://placehold.it/200X200" class="img-thumbnail" alt="">
				</div>
				{% endif %}
				<!-- END SIDEBAR picture -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-user-cred">
						{{user.userprofile.first_name}} {{user.userprofile.last_name}}
					</div>
					<div class="profile-user-jobtitle">
						{{user.userprofile.job_title}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{% if  user.username != request.user.username %}
				<div class="profile-userbuttons">
				 
					{% with user=request.user %}
						<button type="button" onclick="window.location='{% follow_url object %}?next={{request.path}}';" class="btn btn-success btn-sm">
							{% if user|is_following:object %}
						     
						        Stop Following
						           
						    {% else %}

						        Follow
						    
						    {% endif %}
						            
						</button>
					{% endwith %}
					<button type="button" class="btn btn-danger btn-sm" onclick="window.location='{% url "postman:write" user.username %}';" >Message</button>
				</div>
				{% endif %}
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="{% url 'edit_profile' %}">
							<i class="glyphicon glyphicon-edit"></i>
							Edit your profile </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
							
					</ul>
				</div>
				<hr/>
				<!-- SIDEBAR MENU -->
				<div class="profile-userfollowee">
				
					<ul class="nav">
					{# user followees #}

					<div class="user-followers">
						{{ user.username }}'s followers:
							<span class="follower_count">{{follower_count}}</span>
					</div>
					<br/>
						{% for follower in followers %}
						<div class="col-md-4">
							{% if follower.userprofile.picture %}
								<img src="{{ MEDIA_URL }}{{follower.userprofile.picture.url}}" width="50" height="50">
							{% else %}
								<img src="http://placehold.it/50x50">
								
							{% endif %}
						
						
							<a href= "{{ follower.get_absolute_url }}"> {{follower}}</a>	
						</div>						
						
						{% endfor %}
					
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">

            <div class="profile-activity">
            {# user feeds #}
			{% for feed in user_feeds %}
			
				<p class="row feeds">
					<span class=" glyphicon {% if feed.verb ==  'created' %}
						 glyphicon-ok-circle
						{% elif feed.verb == 'updated' %}
						glyphicon-cog
						{% elif feed.verb == 'deleted' %}
						glyphicon-remove
						{% else %}
						glyphicon-ok
						{% endif %}"></span>
						{% if feed.actor.get_absolute_url %}


						<a href="{{feed.action_object.get_absolute_url}}">{{feed.actor}}</a> {{feed.verb}} 
						<a href="{{feed.target.get_absolute_url}}">{{feed.target}}</a>
						{{ feed.timestamp|timesince}}

						{% else %}

						{{feed.actor}} {{feed.verb}} {{feed.target}}
						
						{% endif %}
					</p>
				<p class="timer"> </p>
			
			{% endfor %}
            </div>
            
           
          
		</div>
	</div>
</div>
<br>
<br>
					  

	
{% endblock %}
